.contacts {
  font-family: $ff-montserrat;
  min-height: 546px;
  background-color: $color-alice-blue;
}

.contacts__wrapper {
  padding-left: 103px;
  padding-right: 103px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.contacts__map {
  height: 306px;
  margin-top: 120px;
  background-image: url("../img/map-background/background-map.jpg");
  background-color: $color-sugar-cane;
  background-size: 560px 318px;
  background-position: 0;
  background-repeat: no-repeat;

  @include retina {
    background-image: url("../img/map-background/background-map@2x.jpg");
  }
}

.contacts__map iframe {
  display: block;
  border: none;
  width: 100%;
  min-height: 100%;
}

.contacts__description {
  color: $color-tangaroa;
  margin-left: 60px;
}

.contacts__title {
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  margin-top: 194px;
  font-weight: 500;
}

.contacts__list {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  list-style-type: none;
}

.contacts__link {
  color: $color-tangaroa;

  @include focus {
    outline: 1px solid $color-tangaroa;
  }
}

.contacts__item {
  display: flex;
  margin-top: 23px;
}

.contacts__info {
  margin-left: 10px;
  margin-top: 1px;

  &--phone {
    margin-left: 6px;
  }
}

@include desktop-width-min {
  .contacts__info br {
    display: none;
  }
}

@include tablet-width-max {
  .contacts {
    min-height: 535px;
  }

  .contacts__wrapper {
    padding-left: 45px;
    padding-right: 45px;
    column-gap: 30px;
  }

  .contacts__map {
    height: 335px;
    margin-top: 100px;
    background-size: 589px 335px;
    background-position: -152px;
  }

  .contacts__description {
    margin-left: 0;
  }

  .contacts__title {
    margin-top: 165px;
  }

  .contacts__info {
    margin-top: 0;
    font-size: 16px;
    line-height: 150%;
    margin-left: 6px;

    &--address {
      margin-left: 10px;
    }
  }

  .contacts__list {
    margin-top: 27px;
  }

  .contacts__item {
    margin-top: 18px;
  }

  .contacts__icon {
    margin-top: 6px;

    &--phone {
      margin-top: 4px;
    }
  }
}

@include mobile-width-max {
  .contacts {
    min-height: 446px;
  }

  .contacts__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 65px;
  }

  .contacts__map {
    width: 100%;
    height: 316px;
    margin-top: 36px;
    background-size: cover;
    background-position: center;
  }

  .contacts__title {
    margin-top: 57px;
  }
}

@include mobile-brackpoint-layout {
  .contacts__map {
    background-size: 550px 316px;
    background-position: -130px 0;
  }
}
