.form-container {
  min-height: 555px;
  background-color: $color-polo-blue;
  background-image: url("../img/form-background/background-form.jpg");
  background-size: 1366px 911px;
  background-repeat: no-repeat;
  background-position: center -18px;

  @include retina {
    background-image: url("../img/form-background/background-form@2x.jpg");
  }
}

.form-container__wrapper {
  padding-left: 103px;
  padding-right: 103px;
  display: flex;
  justify-content: space-between;
}

.form-container__title {
  font-size: 40px;
  line-height: 150%;
  margin: 213px auto 0 60px;
  color: $color-tangaroa;
}

.form-container__description {
  display: block;
  font-size: 18px;
  line-height: 150%;
  margin-left: 60px;
  margin-top: 7px;
  width: 390px;
}

@include desktop-width-min {
  .form-container__description br {
    display: none;
  }
}

@include tablet-width-max {
  .form-container {
    min-height: 805px;
    background-size: 1481px 987px;
    background-position: -502px -12px;
  }

  .form-container__wrapper {
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
  }

  .form-container__title {
    font-size: 34px;
    text-align: center;
    margin: 87px auto 0 auto;
  }

  .form-container__description {
    text-align: center;
    margin: 5px auto 0 auto;
  }
}

@include tablet-brackpoint {
  .form-container__description br {
    display: none;
  }
}

@include mobile-width-max {
  .form-container {
    min-height: 760px;
    background-size: 1209px 806px;
    background-position: -485px -46px;
    background-color: $color-blue-haze;
  }

  .form-container__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-container__title {
    font-size: 24px;
    line-height: 140%;
    margin-top: 56px;
  }

  .form-container__description {
    font-size: 16px;
    width: 100%;
    line-height: 140%;
    margin-top: 11px;
  }
}
