.wrapper {
  background: linear-gradient(180deg, rgba(55, 119, 198, 1) 99%, rgba(249, 251, 253, 1) 100%);
  background-size: auto 655px;
  background-repeat: repeat-x;
  min-height: 100%;
}

.wrapper__background-image {
  background-image: url("../img/promo-background/background-promo.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center -188px;
  height: 100%;

  @include retina {
    background-image: url("../img/promo-background/background-promo@2x.jpg");
  }
}

@include desktop-background-min {
  .wrapper__background-image {
    background-size: auto 838px;
  }
}

@include tablet-width-max {
  .wrapper__background-image {
    background-size: 100% auto;
    background-position: center 0;
  }
}

@include tablet-background-min {
  .wrapper__background-image {
    background-size: auto 638px;
  }
}

@include mobile-width-max {
  .wrapper__background-image {
    background-size: 757px 568px;

    &--nojs {
      background-position: center 345px;
    }
  }

  .wrapper__overlay--open {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 99%, rgba(0, 0, 0, 0.5) 99%);
  }

  .wrapper {
    &--open {
      position: fixed;
      overflow-y: hidden;
    }
  }
}
