// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-alice-blue: #f9fbfd;
$color-tangaroa: #011c40;
$color-curious-blue: #3270c6;
$color-solitude: #e3ecf6;
$color-solitude-opacity: rgba(227, 236, 246, 0.9);
$color-polo-blue: #a1cbf5;
$color-blue-haze: #adacba;
$color-sugar-cane: #eeeedb;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-montserrat:                         "Montserrat", "Tahoma", sans-serif;

// Viewports
// ---------------------------------

$tablet-width-max: 1023px;
$mobile-width-max: 767px;
$mobile-width-min: 321px;

$desktop-width-gap-max: 1349px;
$desktop-width-gap-min: 1062px;
$tablet-width-gap-max: 968px;
$mobile-width-gap-max: 440px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
